executor {
  name = 'local'
  queueSize = 40
}

process {
  memory = '5 GB'
  cpu = 1
}

// executor {
//   name = 'local'
//   queueSize = 1
// }

// process {
//   memory = '200 GB'
//   cpu = 10
// }

report {
  enabled = true
  overwrite = true
}

timeline {
  enabled = true
  overwrite = true
}

trace {
  enabled = true
  file = 'trace.txt'
  overwrite = true
}